
<div><%= link_to "Create a new group", [:new, :group] %></div>

<h2>All Groups</h2>
  <ul>
    <% @groups.each do |group| %>
      <li><%= render group %></li>
      <% if ! current_user.member?(group) %>
        <%= button_to "Join this group", [group, :group_membership] %>
      <% end %>
      </li>
    <% end %>
  </ul>

<h2>Your Groups</h2>
  <ul>
    <% @my_groups.each do |group| %>
      <li><%= render group %></li>
    <% end %>
  </ul>
